<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldnet.duty.mapper.ApiTrunpointMapper">

    <resultMap id="BaseResultMap" type="com.goldnet.duty.entity.ApiTrunpoint">
            <id property="id" column="id" jdbcType="OTHER"/>
            <result property="account_id1" column="account_id1" jdbcType="OTHER"/>
            <result property="account_id" column="account_id" jdbcType="OTHER"/>
            <result property="out_platform" column="out_platform" jdbcType="VARCHAR"/>
            <result property="out_balance" column="out_balance" jdbcType="NUMERIC"/>
            <result property="in_platform" column="in_platform" jdbcType="VARCHAR"/>
            <result property="in_balance" column="in_balance" jdbcType="NUMERIC"/>
            <result property="trade_money" column="trade_money" jdbcType="NUMERIC"/>
            <result property="flow" column="flow" jdbcType="OTHER"/>
            <result property="create_date_time" column="create_date_time" jdbcType="TIMESTAMP"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="deal_sn" column="deal_sn" jdbcType="VARCHAR"/>
            <result property="payment_id" column="payment_id" jdbcType="VARCHAR"/>
            <result property="create_user" column="create_user" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,account_id1,account_id,
        out_platform,out_balance,in_platform,
        in_balance,trade_money,flow,
        create_date_time,remark,deal_sn,
        payment_id,create_user
    </sql>
</mapper>
