<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldnet.duty.mapper.AppDeleteMessageMapper">

    <resultMap id="BaseResultMap" type="com.goldnet.duty.entity.AppDeleteMessage">
            <id property="id" column="id" jdbcType="OTHER"/>
            <result property="message_id" column="message_id" jdbcType="OTHER"/>
            <result property="account_id" column="account_id" jdbcType="OTHER"/>
            <result property="flag" column="flag" jdbcType="OTHER"/>
            <result property="account1" column="account1" jdbcType="OTHER"/>
            <result property="readed" column="readed" jdbcType="OTHER"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,message_id,account_id,
        flag,account1,readed,
        create_time,update_time
    </sql>
</mapper>
