<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldnet.duty.mapper.AppDomainUrlMapper">

    <resultMap id="BaseResultMap" type="com.goldnet.duty.entity.AppDomainUrl">
            <id property="id" column="id" jdbcType="OTHER"/>
            <result property="app_domain_id" column="app_domain_id" jdbcType="OTHER"/>
            <result property="domain_protocol" column="domain_protocol" jdbcType="VARCHAR"/>
            <result property="station_domain_id" column="station_domain_id" jdbcType="OTHER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,app_domain_id,domain_protocol,
        station_domain_id
    </sql>
</mapper>
