<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldnet.duty.mapper.AppJpushRegistrationMapper">

    <resultMap id="BaseResultMap" type="com.goldnet.duty.entity.AppJpushRegistration">
            <id property="id" column="id" jdbcType="OTHER"/>
            <result property="registration_id" column="registration_id" jdbcType="VARCHAR"/>
            <result property="account_id" column="account_id" jdbcType="OTHER"/>
            <result property="account1" column="account1" jdbcType="OTHER"/>
            <result property="app_station_code" column="app_station_code" jdbcType="VARCHAR"/>
            <result property="device" column="device" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="SMALLINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,registration_id,account_id,
        account1,app_station_code,device,
        status
    </sql>
</mapper>
