<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldnet.duty.mapper.AppVersionListMapper">

    <resultMap id="BaseResultMap" type="com.goldnet.duty.entity.AppVersionList">
            <id property="id" column="id" jdbcType="OTHER"/>
            <result property="app_type" column="app_type" jdbcType="OTHER"/>
            <result property="device_type" column="device_type" jdbcType="OTHER"/>
            <result property="version_status" column="version_status" jdbcType="OTHER"/>
            <result property="is_force_update" column="is_force_update" jdbcType="OTHER"/>
            <result property="app_version_number" column="app_version_number" jdbcType="VARCHAR"/>
            <result property="api_interface_version_number" column="api_interface_version_number" jdbcType="VARCHAR"/>
            <result property="update_describe" column="update_describe" jdbcType="VARCHAR"/>
            <result property="update_admin_describe" column="update_admin_describe" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,app_type,device_type,
        version_status,is_force_update,app_version_number,
        api_interface_version_number,update_describe,update_admin_describe
    </sql>
</mapper>
