<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldnet.duty.mapper.AtAccountFavoritesMapper">

    <resultMap id="BaseResultMap" type="com.goldnet.duty.entity.AtAccountFavorites">
            <id property="acc_id" column="acc_id" jdbcType="OTHER"/>
            <id property="model_id" column="model_id" jdbcType="OTHER"/>
            <result property="or_order" column="or_order" jdbcType="OTHER"/>
    </resultMap>

    <sql id="Base_Column_List">
        acc_id,model_id,or_order
    </sql>
</mapper>
