<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldnet.duty.mapper.AtAgentGameManageMapper">

    <resultMap id="BaseResultMap" type="com.goldnet.duty.entity.AtAgentGameManage">
            <id property="agent_manage_game_id" column="agent_manage_game_id" jdbcType="OTHER"/>
            <result property="account_id" column="account_id" jdbcType="OTHER"/>
            <result property="lottery_id" column="lottery_id" jdbcType="OTHER"/>
            <result property="is_open" column="is_open" jdbcType="OTHER"/>
            <result property="betting_status" column="betting_status" jdbcType="OTHER"/>
            <result property="is_open_betting_status" column="is_open_betting_status" jdbcType="OTHER"/>
            <result property="betting_manner" column="betting_manner" jdbcType="VARCHAR"/>
            <result property="is_open_betting_manner" column="is_open_betting_manner" jdbcType="VARCHAR"/>
            <result property="create_date_time" column="create_date_time" jdbcType="DATE"/>
            <result property="create_user" column="create_user" jdbcType="VARCHAR"/>
            <result property="update_date_time" column="update_date_time" jdbcType="DATE"/>
            <result property="update_user" column="update_user" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        agent_manage_game_id,account_id,lottery_id,
        is_open,betting_status,is_open_betting_status,
        betting_manner,is_open_betting_manner,create_date_time,
        create_user,update_date_time,update_user
    </sql>
</mapper>
