<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldnet.duty.mapper.AtTransferStationMapper">

    <resultMap id="BaseResultMap" type="com.goldnet.duty.entity.AtTransferStation">
            <id property="ac_id" column="ac_id" jdbcType="OTHER"/>
            <result property="account" column="account" jdbcType="VARCHAR"/>
            <result property="account1" column="account1" jdbcType="OTHER"/>
            <result property="pwd" column="pwd" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        ac_id,account,account1,
        pwd
    </sql>
</mapper>
