<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldnet.duty.mapper.CountPerionDaysLottery202011Mapper">

    <resultMap id="BaseResultMap" type="com.goldnet.duty.entity.CountPerionDaysLottery202011">
            <id property="id" column="id" jdbcType="OTHER"/>
            <result property="account0" column="account0" jdbcType="OTHER"/>
            <result property="account1" column="account1" jdbcType="OTHER"/>
            <result property="account2" column="account2" jdbcType="OTHER"/>
            <result property="account3" column="account3" jdbcType="OTHER"/>
            <result property="account4" column="account4" jdbcType="OTHER"/>
            <result property="account5" column="account5" jdbcType="OTHER"/>
            <result property="account_id" column="account_id" jdbcType="OTHER"/>
            <result property="account" column="account" jdbcType="VARCHAR"/>
            <result property="create_time" column="create_time" jdbcType="DATE"/>
            <result property="lottery_id" column="lottery_id" jdbcType="OTHER"/>
            <result property="count_num" column="count_num" jdbcType="OTHER"/>
            <result property="betting_money" column="betting_money" jdbcType="NUMERIC"/>
            <result property="valid_money" column="valid_money" jdbcType="NUMERIC"/>
            <result property="member_result" column="member_result" jdbcType="NUMERIC"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,account0,account1,
        account2,account3,account4,
        account5,account_id,account,
        create_time,lottery_id,count_num,
        betting_money,valid_money,member_result
    </sql>
</mapper>
