<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldnet.duty.mapper.GeActivityPacketConditionMapper">

    <resultMap id="BaseResultMap" type="com.goldnet.duty.entity.GeActivityPacketCondition">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="account1" column="account1" jdbcType="OTHER"/>
            <result property="activity_id" column="activity_id" jdbcType="BIGINT"/>
            <result property="activity_time_id" column="activity_time_id" jdbcType="BIGINT"/>
            <result property="deposit_amount" column="deposit_amount" jdbcType="NUMERIC"/>
            <result property="betting_amount" column="betting_amount" jdbcType="NUMERIC"/>
            <result property="level_ids" column="level_ids" jdbcType="OTHER"/>
            <result property="relation_type" column="relation_type" jdbcType="SMALLINT"/>
            <result property="num" column="num" jdbcType="OTHER"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="create_user" column="create_user" jdbcType="VARCHAR"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="update_user" column="update_user" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,account1,activity_id,
        activity_time_id,deposit_amount,betting_amount,
        level_ids,relation_type,num,
        create_time,create_user,update_time,
        update_user
    </sql>
</mapper>
