<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldnet.duty.mapper.GeLoginPasswordSettingMapper">

    <resultMap id="BaseResultMap" type="com.goldnet.duty.entity.GeLoginPasswordSetting">
            <id property="id" column="id" jdbcType="OTHER"/>
            <result property="account1" column="account1" jdbcType="OTHER"/>
            <result property="member_status" column="member_status" jdbcType="OTHER"/>
            <result property="member_cycle" column="member_cycle" jdbcType="VARCHAR"/>
            <result property="member_reminder" column="member_reminder" jdbcType="OTHER"/>
            <result property="sub_account_status" column="sub_account_status" jdbcType="OTHER"/>
            <result property="sub_account_cycle" column="sub_account_cycle" jdbcType="VARCHAR"/>
            <result property="sub_account_reminder" column="sub_account_reminder" jdbcType="OTHER"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="sh_mpwd_symbol" column="sh_mpwd_symbol" jdbcType="VARCHAR"/>
            <result property="member_changepwd" column="member_changepwd" jdbcType="OTHER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,account1,member_status,
        member_cycle,member_reminder,sub_account_status,
        sub_account_cycle,sub_account_reminder,create_time,
        update_time,sh_mpwd_symbol,member_changepwd
    </sql>
</mapper>
