<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldnet.duty.mapper.GePeriodStatusMapper">

    <resultMap id="BaseResultMap" type="com.goldnet.duty.entity.GePeriodStatus">
            <id property="period_status_id" column="period_status_id" jdbcType="OTHER"/>
            <result property="period_date" column="period_date" jdbcType="VARCHAR"/>
            <result property="period_code" column="period_code" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="create_user" column="create_user" jdbcType="VARCHAR"/>
            <result property="create_date_time" column="create_date_time" jdbcType="DATE"/>
            <result property="update_user" column="update_user" jdbcType="VARCHAR"/>
            <result property="update_date_time" column="update_date_time" jdbcType="DATE"/>
            <result property="lottery_id" column="lottery_id" jdbcType="OTHER"/>
            <result property="period_id" column="period_id" jdbcType="OTHER"/>
    </resultMap>

    <sql id="Base_Column_List">
        period_status_id,period_date,period_code,
        status,create_user,create_date_time,
        update_user,update_date_time,lottery_id,
        period_id
    </sql>
</mapper>
