<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldnet.duty.mapper.GeSeriesMapper">

    <resultMap id="BaseResultMap" type="com.goldnet.duty.entity.GeSeries">
            <result property="series_id" column="series_id" jdbcType="OTHER"/>
            <result property="default_lottery_id" column="default_lottery_id" jdbcType="OTHER"/>
            <result property="series_name" column="series_name" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="OTHER"/>
            <result property="series_order" column="series_order" jdbcType="OTHER"/>
    </resultMap>

    <sql id="Base_Column_List">
        series_id,default_lottery_id,series_name,
        type,series_order
    </sql>
</mapper>
