<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldnet.duty.mapper.GeStationRegDetailsMapper">

    <resultMap id="BaseResultMap" type="com.goldnet.duty.entity.GeStationRegDetails">
            <result property="id" column="id" jdbcType="OTHER"/>
            <result property="station_id" column="station_id" jdbcType="OTHER"/>
            <result property="ip" column="ip" jdbcType="VARCHAR"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="create_user" column="create_user" jdbcType="VARCHAR"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="update_user" column="update_user" jdbcType="VARCHAR"/>
            <result property="account" column="account" jdbcType="VARCHAR"/>
            <result property="signin_location" column="signin_location" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,station_id,ip,
        create_time,create_user,update_time,
        update_user,account,signin_location
    </sql>
</mapper>
