<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldnet.duty.mapper.GoldConfigMapper">

    <resultMap id="BaseResultMap" type="com.goldnet.duty.entity.GoldConfig">
            <id property="id" column="id" jdbcType="OTHER"/>
            <result property="sys_name" column="sys_name" jdbcType="VARCHAR"/>
            <result property="file_name" column="file_name" jdbcType="VARCHAR"/>
            <result property="key_name" column="key_name" jdbcType="VARCHAR"/>
            <result property="value_name" column="value_name" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,sys_name,file_name,
        key_name,value_name,remark
    </sql>
</mapper>
