<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldnet.duty.mapper.MnyAddMemberSetMapper">

    <resultMap id="BaseResultMap" type="com.goldnet.duty.entity.MnyAddMemberSet">
            <id property="add_member_set_id" column="add_member_set_id" jdbcType="OTHER"/>
            <result property="field_name" column="field_name" jdbcType="VARCHAR"/>
            <result property="if_show" column="if_show" jdbcType="OTHER"/>
            <result property="if_required" column="if_required" jdbcType="OTHER"/>
            <result property="if_validate" column="if_validate" jdbcType="OTHER"/>
            <result property="ddgd_id" column="ddgd_id" jdbcType="OTHER"/>
            <result property="create_user" column="create_user" jdbcType="VARCHAR"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_user" column="update_user" jdbcType="VARCHAR"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="field_type" column="field_type" jdbcType="OTHER"/>
            <result property="sort" column="sort" jdbcType="SMALLINT"/>
            <result property="field_code" column="field_code" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        add_member_set_id,field_name,if_show,
        if_required,if_validate,ddgd_id,
        create_user,create_time,update_user,
        update_time,field_type,sort,
        field_code
    </sql>
</mapper>
