<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldnet.duty.mapper.MnyBackPreSetMapper">

    <resultMap id="BaseResultMap" type="com.goldnet.duty.entity.MnyBackPreSet">
            <id property="id" column="id" jdbcType="OTHER"/>
            <result property="valid_total_bet" column="valid_total_bet" jdbcType="NUMERIC"/>
            <result property="pre_up_limit" column="pre_up_limit" jdbcType="NUMERIC"/>
            <result property="create_user" column="create_user" jdbcType="VARCHAR"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_user" column="update_user" jdbcType="VARCHAR"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="stockholder_id" column="stockholder_id" jdbcType="OTHER"/>
            <result property="set_type_id" column="set_type_id" jdbcType="OTHER"/>
            <result property="lhc_pre_per" column="lhc_pre_per" jdbcType="NUMERIC"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,valid_total_bet,pre_up_limit,
        create_user,create_time,update_user,
        update_time,stockholder_id,set_type_id,
        lhc_pre_per
    </sql>
</mapper>
