<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldnet.duty.mapper.MnyCheckRecordMapper">

    <resultMap id="BaseResultMap" type="com.goldnet.duty.entity.MnyCheckRecord">
            <id property="record_id" column="record_id" jdbcType="OTHER"/>
            <result property="member_id" column="member_id" jdbcType="OTHER"/>
            <result property="time_start" column="time_start" jdbcType="TIMESTAMP"/>
            <result property="create_user" column="create_user" jdbcType="VARCHAR"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="ddgd_id" column="ddgd_id" jdbcType="OTHER"/>
            <result property="time_end" column="time_end" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        record_id,member_id,time_start,
        create_user,create_time,remark,
        content,ddgd_id,time_end
    </sql>
</mapper>
