<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldnet.duty.mapper.MnyDrawBankList20210727Mapper">

    <resultMap id="BaseResultMap" type="com.goldnet.duty.entity.MnyDrawBankList20210727">
            <result property="id" column="id" jdbcType="OTHER"/>
            <result property="account_id" column="account_id" jdbcType="OTHER"/>
            <result property="bank_id" column="bank_id" jdbcType="OTHER"/>
            <result property="bank_account" column="bank_account" jdbcType="VARCHAR"/>
            <result property="province" column="province" jdbcType="VARCHAR"/>
            <result property="city" column="city" jdbcType="VARCHAR"/>
            <result property="other_city" column="other_city" jdbcType="VARCHAR"/>
            <result property="stockholder_id" column="stockholder_id" jdbcType="OTHER"/>
            <result property="opening_bank" column="opening_bank" jdbcType="VARCHAR"/>
            <result property="update_user" column="update_user" jdbcType="VARCHAR"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="is_defaulted" column="is_defaulted" jdbcType="SMALLINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,account_id,bank_id,
        bank_account,province,city,
        other_city,stockholder_id,opening_bank,
        update_user,update_time,is_defaulted
    </sql>
</mapper>
