<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldnet.duty.mapper.MnyMerchantCountMapper">

    <resultMap id="BaseResultMap" type="com.goldnet.duty.entity.MnyMerchantCount">
            <id property="id" column="id" jdbcType="OTHER"/>
            <result property="levelid" column="levelid" jdbcType="OTHER"/>
            <result property="status" column="status" jdbcType="OTHER"/>
            <result property="stockholderid" column="stockholderid" jdbcType="OTHER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,levelid,status,
        stockholderid
    </sql>
</mapper>
