<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldnet.duty.mapper.MsArchiveCopyMapper">

    <resultMap id="BaseResultMap" type="com.goldnet.duty.entity.MsArchiveCopy">
            <result property="archive_id" column="archive_id" jdbcType="OTHER"/>
            <result property="station_durl" column="station_durl" jdbcType="VARCHAR"/>
            <result property="station_name" column="station_name" jdbcType="VARCHAR"/>
            <result property="template_name" column="template_name" jdbcType="VARCHAR"/>
            <result property="total_receivables" column="total_receivables" jdbcType="NUMERIC"/>
            <result property="total_profit_loss" column="total_profit_loss" jdbcType="NUMERIC"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="create_user" column="create_user" jdbcType="VARCHAR"/>
            <result property="create_datetime" column="create_datetime" jdbcType="TIMESTAMP"/>
            <result property="update_user" column="update_user" jdbcType="VARCHAR"/>
            <result property="update_datetime" column="update_datetime" jdbcType="TIMESTAMP"/>
            <result property="period_id" column="period_id" jdbcType="OTHER"/>
            <result property="account1" column="account1" jdbcType="OTHER"/>
            <result property="station_id" column="station_id" jdbcType="OTHER"/>
            <result property="begin_date" column="begin_date" jdbcType="DATE"/>
            <result property="end_date" column="end_date" jdbcType="DATE"/>
    </resultMap>

    <sql id="Base_Column_List">
        archive_id,station_durl,station_name,
        template_name,total_receivables,total_profit_loss,
        remark,create_user,create_datetime,
        update_user,update_datetime,period_id,
        account1,station_id,begin_date,
        end_date
    </sql>
</mapper>
