<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldnet.duty.mapper.MsArchiveDetailsCopyMapper">

    <resultMap id="BaseResultMap" type="com.goldnet.duty.entity.MsArchiveDetailsCopy">
            <result property="archive_details_id" column="archive_details_id" jdbcType="OTHER"/>
            <result property="ms_archive_id" column="ms_archive_id" jdbcType="OTHER"/>
            <result property="game_name" column="game_name" jdbcType="VARCHAR"/>
            <result property="currency" column="currency" jdbcType="VARCHAR"/>
            <result property="profit_loss" column="profit_loss" jdbcType="NUMERIC"/>
            <result property="receivables" column="receivables" jdbcType="NUMERIC"/>
            <result property="first_ratio" column="first_ratio" jdbcType="NUMERIC"/>
            <result property="state" column="state" jdbcType="CHAR"/>
            <result property="type" column="type" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        archive_details_id,ms_archive_id,game_name,
        currency,profit_loss,receivables,
        first_ratio,state,type
    </sql>
</mapper>
