<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldnet.duty.mapper.MsPeriodMapper">

    <resultMap id="BaseResultMap" type="com.goldnet.duty.entity.MsPeriod">
            <id property="period_id" column="period_id" jdbcType="OTHER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="begin_date" column="begin_date" jdbcType="DATE"/>
            <result property="end_date" column="end_date" jdbcType="DATE"/>
            <result property="create_user" column="create_user" jdbcType="VARCHAR"/>
            <result property="create_datetime" column="create_datetime" jdbcType="TIMESTAMP"/>
            <result property="update_user" column="update_user" jdbcType="VARCHAR"/>
            <result property="update_datetime" column="update_datetime" jdbcType="TIMESTAMP"/>
            <result property="is_archive" column="is_archive" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        period_id,name,begin_date,
        end_date,create_user,create_datetime,
        update_user,update_datetime,is_archive
    </sql>
</mapper>
