<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldnet.duty.mapper.MsProportionMapper">

    <resultMap id="BaseResultMap" type="com.goldnet.duty.entity.MsProportion">
            <id property="proportion_id" column="proportion_id" jdbcType="OTHER"/>
            <result property="merge_id" column="merge_id" jdbcType="OTHER"/>
            <result property="min_quota" column="min_quota" jdbcType="NUMERIC"/>
            <result property="max_quota" column="max_quota" jdbcType="NUMERIC"/>
            <result property="ratio" column="ratio" jdbcType="NUMERIC"/>
            <result property="deduction" column="deduction" jdbcType="NUMERIC"/>
            <result property="create_user" column="create_user" jdbcType="VARCHAR"/>
            <result property="create_datetime" column="create_datetime" jdbcType="TIMESTAMP"/>
            <result property="update_user" column="update_user" jdbcType="VARCHAR"/>
            <result property="update_datetime" column="update_datetime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        proportion_id,merge_id,min_quota,
        max_quota,ratio,deduction,
        create_user,create_datetime,update_user,
        update_datetime
    </sql>
</mapper>
