<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldnet.duty.mapper.MsStatisticsProportionMapper">

    <resultMap id="BaseResultMap" type="com.goldnet.duty.entity.MsStatisticsProportion">
            <id property="archive_proportion_id" column="archive_proportion_id" jdbcType="OTHER"/>
            <result property="archive_details_id" column="archive_details_id" jdbcType="OTHER"/>
            <result property="min_quota" column="min_quota" jdbcType="NUMERIC"/>
            <result property="max_quota" column="max_quota" jdbcType="NUMERIC"/>
            <result property="ratio" column="ratio" jdbcType="NUMERIC"/>
    </resultMap>

    <sql id="Base_Column_List">
        archive_proportion_id,archive_details_id,min_quota,
        max_quota,ratio
    </sql>
</mapper>
