<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldnet.duty.mapper.MsTemplateMapper">

    <resultMap id="BaseResultMap" type="com.goldnet.duty.entity.MsTemplate">
            <id property="template_id" column="template_id" jdbcType="OTHER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="create_user" column="create_user" jdbcType="VARCHAR"/>
            <result property="create_datetime" column="create_datetime" jdbcType="TIMESTAMP"/>
            <result property="update_user" column="update_user" jdbcType="VARCHAR"/>
            <result property="update_datetime" column="update_datetime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        template_id,name,create_user,
        create_datetime,update_user,update_datetime
    </sql>
</mapper>
