<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldnet.duty.mapper.PayExceptionOrderMapper">

    <resultMap id="BaseResultMap" type="com.goldnet.duty.entity.PayExceptionOrder">
            <id property="id" column="id" jdbcType="OTHER"/>
            <result property="orderno" column="orderno" jdbcType="VARCHAR"/>
            <result property="merchant_id" column="merchant_id" jdbcType="OTHER"/>
            <result property="pay_system_id" column="pay_system_id" jdbcType="OTHER"/>
            <result property="account" column="account" jdbcType="VARCHAR"/>
            <result property="account_id" column="account_id" jdbcType="OTHER"/>
            <result property="account1" column="account1" jdbcType="OTHER"/>
            <result property="createtime" column="createtime" jdbcType="TIMESTAMP"/>
            <result property="amount" column="amount" jdbcType="NUMERIC"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="credited" column="credited" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,orderno,merchant_id,
        pay_system_id,account,account_id,
        account1,createtime,amount,
        status,credited,remark
    </sql>
</mapper>
