<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldnet.duty.mapper.PayMoneySettingMapper">

    <resultMap id="BaseResultMap" type="com.goldnet.duty.entity.PayMoneySetting">
            <id property="id" column="id" jdbcType="OTHER"/>
            <result property="correlation_id" column="correlation_id" jdbcType="OTHER"/>
            <result property="stockholder_id" column="stockholder_id" jdbcType="OTHER"/>
            <result property="fast_select_money1" column="fast_select_money1" jdbcType="OTHER"/>
            <result property="fast_select_money2" column="fast_select_money2" jdbcType="OTHER"/>
            <result property="fast_select_money3" column="fast_select_money3" jdbcType="OTHER"/>
            <result property="fast_select_money4" column="fast_select_money4" jdbcType="OTHER"/>
            <result property="fast_select_money5" column="fast_select_money5" jdbcType="OTHER"/>
            <result property="is_support_decimal" column="is_support_decimal" jdbcType="OTHER"/>
            <result property="income_type" column="income_type" jdbcType="OTHER"/>
            <result property="is_input_money_status" column="is_input_money_status" jdbcType="OTHER"/>
            <result property="is_show_fast_select_money" column="is_show_fast_select_money" jdbcType="OTHER"/>
            <result property="income_name" column="income_name" jdbcType="VARCHAR"/>
            <result property="fast_select_money" column="fast_select_money" jdbcType="OTHER"/>
            <result property="front_end_remarks" column="front_end_remarks" jdbcType="VARCHAR"/>
            <result property="recharge_order" column="recharge_order" jdbcType="OTHER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,correlation_id,stockholder_id,
        fast_select_money1,fast_select_money2,fast_select_money3,
        fast_select_money4,fast_select_money5,is_support_decimal,
        income_type,is_input_money_status,is_show_fast_select_money,
        income_name,fast_select_money,front_end_remarks,
        recharge_order
    </sql>
</mapper>
