<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldnet.duty.mapper.PromotionCommissionSettingMapper">

    <resultMap id="BaseResultMap" type="com.goldnet.duty.entity.PromotionCommissionSetting">
            <id property="id" column="id" jdbcType="OTHER"/>
            <result property="account1" column="account1" jdbcType="OTHER"/>
            <result property="team_profit_value" column="team_profit_value" jdbcType="NUMERIC"/>
            <result property="valid_member_number" column="valid_member_number" jdbcType="OTHER"/>
            <result property="depot_rebate_percent" column="depot_rebate_percent" jdbcType="NUMERIC"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="create_user" column="create_user" jdbcType="VARCHAR"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="update_user" column="update_user" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,account1,team_profit_value,
        valid_member_number,depot_rebate_percent,create_time,
        create_user,update_time,update_user
    </sql>
</mapper>
