<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldnet.duty.mapper.PromotionLinkRebateMapper">

    <resultMap id="BaseResultMap" type="com.goldnet.duty.entity.PromotionLinkRebate">
            <id property="id" column="id" jdbcType="OTHER"/>
            <result property="account1" column="account1" jdbcType="OTHER"/>
            <result property="link_id" column="link_id" jdbcType="OTHER"/>
            <result property="game_type_code" column="game_type_code" jdbcType="VARCHAR"/>
            <result property="betting_rebate_percent" column="betting_rebate_percent" jdbcType="NUMERIC"/>
            <result property="profit_rebate_percent" column="profit_rebate_percent" jdbcType="NUMERIC"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="create_user" column="create_user" jdbcType="VARCHAR"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="update_user" column="update_user" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,account1,link_id,
        game_type_code,betting_rebate_percent,profit_rebate_percent,
        create_time,create_user,update_time,
        update_user
    </sql>
</mapper>
