<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldnet.duty.mapper.PromotionRebateTpsDetailMapper">

    <resultMap id="BaseResultMap" type="com.goldnet.duty.entity.PromotionRebateTpsDetail">
            <id property="id" column="id" jdbcType="OTHER"/>
            <result property="detail_id" column="detail_id" jdbcType="VARCHAR"/>
            <result property="event_id" column="event_id" jdbcType="OTHER"/>
            <result property="account_id" column="account_id" jdbcType="OTHER"/>
            <result property="platform_code" column="platform_code" jdbcType="VARCHAR"/>
            <result property="game_type_code" column="game_type_code" jdbcType="VARCHAR"/>
            <result property="valid_betting" column="valid_betting" jdbcType="NUMERIC"/>
            <result property="bet_rebate_amount" column="bet_rebate_amount" jdbcType="NUMERIC"/>
            <result property="rebate_percent" column="rebate_percent" jdbcType="NUMERIC"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="create_user" column="create_user" jdbcType="VARCHAR"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="update_user" column="update_user" jdbcType="VARCHAR"/>
            <result property="profit_loss" column="profit_loss" jdbcType="NUMERIC"/>
            <result property="profit_rebate_amount" column="profit_rebate_amount" jdbcType="NUMERIC"/>
            <result property="profit_real_amount" column="profit_real_amount" jdbcType="NUMERIC"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,detail_id,event_id,
        account_id,platform_code,game_type_code,
        valid_betting,bet_rebate_amount,rebate_percent,
        create_time,create_user,update_time,
        update_user,profit_loss,profit_rebate_amount,
        profit_real_amount
    </sql>
</mapper>
