<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldnet.duty.mapper.RechargeSortMapper">

    <resultMap id="BaseResultMap" type="com.goldnet.duty.entity.RechargeSort">
            <id property="id" column="id" jdbcType="OTHER"/>
            <result property="stockholderid" column="stockholderid" jdbcType="OTHER"/>
            <result property="recharge_order" column="recharge_order" jdbcType="OTHER"/>
            <result property="recharge_type_id" column="recharge_type_id" jdbcType="OTHER"/>
            <result property="recharge_type" column="recharge_type" jdbcType="VARCHAR"/>
            <result property="terminal" column="terminal" jdbcType="OTHER"/>
            <result property="online_or_offline" column="online_or_offline" jdbcType="OTHER"/>
            <result property="bank_id" column="bank_id" jdbcType="OTHER"/>
            <result property="bank_name" column="bank_name" jdbcType="VARCHAR"/>
            <result property="sort_type" column="sort_type" jdbcType="OTHER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,stockholderid,recharge_order,
        recharge_type_id,recharge_type,terminal,
        online_or_offline,bank_id,bank_name,
        sort_type
    </sql>
</mapper>
