<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldnet.duty.mapper.SysArticleMapper">

    <resultMap id="BaseResultMap" type="com.goldnet.duty.entity.SysArticle">
            <id property="id" column="id" jdbcType="OTHER"/>
            <id property="ddgd_id" column="ddgd_id" jdbcType="OTHER"/>
            <result property="author" column="author" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="read_num" column="read_num" jdbcType="OTHER"/>
            <result property="release_time" column="release_time" jdbcType="TIMESTAMP"/>
            <result property="source" column="source" jdbcType="VARCHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="category_id" column="category_id" jdbcType="OTHER"/>
            <result property="lottery_id" column="lottery_id" jdbcType="OTHER"/>
            <result property="in_logo_pic" column="in_logo_pic" jdbcType="VARCHAR"/>
            <result property="out_logo_pic" column="out_logo_pic" jdbcType="VARCHAR"/>
            <result property="sort" column="sort" jdbcType="OTHER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,ddgd_id,author,
        content,read_num,release_time,
        source,title,category_id,
        lottery_id,in_logo_pic,out_logo_pic,
        sort
    </sql>
</mapper>
