<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldnet.duty.mapper.SysIssueStopMapper">

    <resultMap id="BaseResultMap" type="com.goldnet.duty.entity.SysIssueStop">
            <id property="id" column="id" jdbcType="OTHER"/>
            <result property="start_date" column="start_date" jdbcType="TIMESTAMP"/>
            <result property="end_date" column="end_date" jdbcType="TIMESTAMP"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="years" column="years" jdbcType="OTHER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,start_date,end_date,
        title,years
    </sql>
</mapper>
