<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldnet.duty.mapper.SysMessageMapper">

    <resultMap id="BaseResultMap" type="com.goldnet.duty.entity.SysMessage">
            <id property="id" column="id" jdbcType="OTHER"/>
            <result property="member_id" column="member_id" jdbcType="OTHER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="announcement_id" column="announcement_id" jdbcType="OTHER"/>
            <result property="sendname" column="sendname" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="isready" column="isready" jdbcType="VARCHAR"/>
            <result property="begin_time" column="begin_time" jdbcType="TIMESTAMP"/>
            <result property="end_time" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="account" column="account" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,member_id,name,
        announcement_id,sendname,content,
        isready,begin_time,end_time,
        account,remark
    </sql>
</mapper>
