<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldnet.duty.mapper.SysUserLogMapper">

    <resultMap id="BaseResultMap" type="com.goldnet.duty.entity.SysUserLog">
            <id property="id" column="id" jdbcType="OTHER"/>
            <result property="accountid" column="accountid" jdbcType="OTHER"/>
            <result property="account" column="account" jdbcType="VARCHAR"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="params" column="params" jdbcType="VARCHAR"/>
            <result property="actionname" column="actionname" jdbcType="VARCHAR"/>
            <result property="visitdate" column="visitdate" jdbcType="TIMESTAMP"/>
            <result property="method" column="method" jdbcType="VARCHAR"/>
            <result property="request_ip" column="request_ip" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,accountid,account,
        url,params,actionname,
        visitdate,method,request_ip
    </sql>
</mapper>
