<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldnet.duty.mapper.TempManDepositMapper">

    <resultMap id="BaseResultMap" type="com.goldnet.duty.entity.TempManDeposit">
            <id property="id" column="id" jdbcType="OTHER"/>
            <result property="batch_no" column="batch_no" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="OTHER"/>
            <result property="deposit_project" column="deposit_project" jdbcType="OTHER"/>
            <result property="account_name" column="account_name" jdbcType="VARCHAR"/>
            <result property="deposit_money" column="deposit_money" jdbcType="NUMERIC"/>
            <result property="deposit_pre_money" column="deposit_pre_money" jdbcType="NUMERIC"/>
            <result property="other_pre_money" column="other_pre_money" jdbcType="NUMERIC"/>
            <result property="comp_bet" column="comp_bet" jdbcType="NUMERIC"/>
            <result property="normal_check_status" column="normal_check_status" jdbcType="CHAR"/>
            <result property="write_back_status" column="write_back_status" jdbcType="CHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="account1" column="account1" jdbcType="OTHER"/>
            <result property="create_date" column="create_date" jdbcType="TIMESTAMP"/>
            <result property="rownum" column="rownum" jdbcType="OTHER"/>
            <result property="file_name" column="file_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,batch_no,status,
        deposit_project,account_name,deposit_money,
        deposit_pre_money,other_pre_money,comp_bet,
        normal_check_status,write_back_status,remark,
        account1,create_date,rownum,
        file_name
    </sql>
</mapper>
