<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldnet.duty.mapper.TpeTransferPointMapper">

    <resultMap id="BaseResultMap" type="com.goldnet.duty.entity.TpeTransferPoint">
            <result property="id" column="id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
    </sql>
</mapper>
