<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldnet.duty.mapper.TpsPreRealtimeItemMapper">

    <resultMap id="BaseResultMap" type="com.goldnet.duty.entity.TpsPreRealtimeItem">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="platform_code" column="platform_code" jdbcType="VARCHAR"/>
            <result property="parent_platform_code" column="parent_platform_code" jdbcType="VARCHAR"/>
            <result property="previous_bet_amount" column="previous_bet_amount" jdbcType="NUMERIC"/>
            <result property="previous_pre_amount" column="previous_pre_amount" jdbcType="NUMERIC"/>
            <result property="current_bet_amount" column="current_bet_amount" jdbcType="NUMERIC"/>
            <result property="current_pre_amount" column="current_pre_amount" jdbcType="NUMERIC"/>
            <result property="pre_realtime_record_id" column="pre_realtime_record_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,platform_code,parent_platform_code,
        previous_bet_amount,previous_pre_amount,current_bet_amount,
        current_pre_amount,pre_realtime_record_id
    </sql>
</mapper>
