<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldnet.duty.mapper.TpsPlatformAssemblerMapper">

    <resultMap id="BaseResultMap" type="com.goldnet.duty.entity.TpsPlatformAssembler">
            <id property="id" column="id" jdbcType="OTHER"/>
            <result property="platform_code" column="platform_code" jdbcType="VARCHAR"/>
            <result property="code_name" column="code_name" jdbcType="VARCHAR"/>
            <result property="type_id" column="type_id" jdbcType="OTHER"/>
            <result property="alias" column="alias" jdbcType="VARCHAR"/>
            <result property="sort" column="sort" jdbcType="OTHER"/>
            <result property="group_id" column="group_id" jdbcType="OTHER"/>
            <result property="create_time" column="create_time" jdbcType="DATE"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,platform_code,code_name,
        type_id,alias,sort,
        group_id,create_time,remark
    </sql>
</mapper>
