<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldnet.duty.mapper.TtTest2Mapper">

    <resultMap id="BaseResultMap" type="com.goldnet.duty.entity.TtTest2">
            <id property="test_id" column="test_id" jdbcType="OTHER"/>
            <result property="return_var" column="return_var" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="num" column="num" jdbcType="VARCHAR"/>
            <result property="type_id" column="type_id" jdbcType="VARCHAR"/>
            <result property="award" column="award" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        test_id,return_var,remark,
        num,type_id,award
    </sql>
</mapper>
