<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldnet.duty.mapper.TyBettingDetailsRelayTemp20211102Mapper">

    <resultMap id="BaseResultMap" type="com.goldnet.duty.entity.TyBettingDetailsRelayTemp20211102">
            <result property="create_user" column="create_user" jdbcType="VARCHAR"/>
            <result property="account_id6" column="account_id6" jdbcType="OTHER"/>
            <result property="sum" column="sum" jdbcType="NUMERIC"/>
    </resultMap>

    <sql id="Base_Column_List">
        create_user,account_id6,sum
    </sql>
</mapper>
