<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldnet.duty.mapper.VasMaintainMapper">

    <resultMap id="BaseResultMap" type="com.goldnet.duty.entity.VasMaintain">
            <id property="id" column="id" jdbcType="OTHER"/>
            <result property="agent_start_time" column="agent_start_time" jdbcType="TIMESTAMP"/>
            <result property="agent_end_time" column="agent_end_time" jdbcType="TIMESTAMP"/>
            <result property="member_start_time" column="member_start_time" jdbcType="TIMESTAMP"/>
            <result property="member_end_time" column="member_end_time" jdbcType="TIMESTAMP"/>
            <result property="maintain_content" column="maintain_content" jdbcType="VARCHAR"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="create_user" column="create_user" jdbcType="VARCHAR"/>
            <result property="update_user" column="update_user" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,agent_start_time,agent_end_time,
        member_start_time,member_end_time,maintain_content,
        create_time,update_time,create_user,
        update_user
    </sql>
</mapper>
