<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldnet.duty.mapper.VasRoleMapper">

    <resultMap id="BaseResultMap" type="com.goldnet.duty.entity.VasRole">
            <id property="id" column="id" jdbcType="OTHER"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="role_name" column="role_name" jdbcType="VARCHAR"/>
            <result property="role_desc" column="role_desc" jdbcType="VARCHAR"/>
            <result property="sync_status" column="sync_status" jdbcType="OTHER"/>
            <result property="set_id" column="set_id" jdbcType="VARCHAR"/>
            <result property="site_id" column="site_id" jdbcType="OTHER"/>
            <result property="create_user" column="create_user" jdbcType="VARCHAR"/>
            <result property="create_date" column="create_date" jdbcType="TIMESTAMP"/>
            <result property="update_user" column="update_user" jdbcType="VARCHAR"/>
            <result property="update_date" column="update_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,type,role_name,
        role_desc,sync_status,set_id,
        site_id,create_user,create_date,
        update_user,update_date
    </sql>
</mapper>
