<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldnet.duty.mapper.WiDefaultFloatPicMapper">

    <resultMap id="BaseResultMap" type="com.goldnet.duty.entity.WiDefaultFloatPic">
            <id property="pic_id" column="pic_id" jdbcType="OTHER"/>
            <result property="old_sort" column="old_sort" jdbcType="OTHER"/>
            <result property="now_sort" column="now_sort" jdbcType="OTHER"/>
            <result property="title_tra" column="title_tra" jdbcType="VARCHAR"/>
            <result property="title_sim" column="title_sim" jdbcType="VARCHAR"/>
            <result property="title_eng" column="title_eng" jdbcType="VARCHAR"/>
            <result property="mouse_status_tra" column="mouse_status_tra" jdbcType="OTHER"/>
            <result property="mouse_off_pic_tra" column="mouse_off_pic_tra" jdbcType="VARCHAR"/>
            <result property="mouse_off_pic_sim" column="mouse_off_pic_sim" jdbcType="VARCHAR"/>
            <result property="mouse_off_pic_eng" column="mouse_off_pic_eng" jdbcType="VARCHAR"/>
            <result property="mouse_in_pic_tra" column="mouse_in_pic_tra" jdbcType="VARCHAR"/>
            <result property="mouse_in_pic_sim" column="mouse_in_pic_sim" jdbcType="VARCHAR"/>
            <result property="mouse_in_pic_eng" column="mouse_in_pic_eng" jdbcType="VARCHAR"/>
            <result property="mouse_out_pic_tra" column="mouse_out_pic_tra" jdbcType="VARCHAR"/>
            <result property="mouse_out_pic_sim" column="mouse_out_pic_sim" jdbcType="VARCHAR"/>
            <result property="mouse_out_pic_eng" column="mouse_out_pic_eng" jdbcType="VARCHAR"/>
            <result property="close_pic_tra" column="close_pic_tra" jdbcType="VARCHAR"/>
            <result property="close_pic_sim" column="close_pic_sim" jdbcType="VARCHAR"/>
            <result property="close_pic_eng" column="close_pic_eng" jdbcType="VARCHAR"/>
            <result property="float_position_tra" column="float_position_tra" jdbcType="OTHER"/>
            <result property="float_position_sim" column="float_position_sim" jdbcType="OTHER"/>
            <result property="float_position_eng" column="float_position_eng" jdbcType="OTHER"/>
            <result property="junction_tra" column="junction_tra" jdbcType="VARCHAR"/>
            <result property="junction_sim" column="junction_sim" jdbcType="VARCHAR"/>
            <result property="junction_eng" column="junction_eng" jdbcType="VARCHAR"/>
            <result property="display_page_tra" column="display_page_tra" jdbcType="VARCHAR"/>
            <result property="display_page_sim" column="display_page_sim" jdbcType="VARCHAR"/>
            <result property="display_page_eng" column="display_page_eng" jdbcType="VARCHAR"/>
            <result property="doc_id" column="doc_id" jdbcType="OTHER"/>
            <result property="create_user" column="create_user" jdbcType="VARCHAR"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_user" column="update_user" jdbcType="VARCHAR"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="ddgd_id" column="ddgd_id" jdbcType="OTHER"/>
            <result property="auditing_status" column="auditing_status" jdbcType="OTHER"/>
            <result property="effect_time" column="effect_time" jdbcType="TIMESTAMP"/>
            <result property="mouse_status_sim" column="mouse_status_sim" jdbcType="OTHER"/>
            <result property="mouse_status_eng" column="mouse_status_eng" jdbcType="OTHER"/>
            <result property="close_pic_status_tra" column="close_pic_status_tra" jdbcType="OTHER"/>
            <result property="close_pic_status_sim" column="close_pic_status_sim" jdbcType="OTHER"/>
            <result property="close_pic_status_eng" column="close_pic_status_eng" jdbcType="OTHER"/>
    </resultMap>

    <sql id="Base_Column_List">
        pic_id,old_sort,now_sort,
        title_tra,title_sim,title_eng,
        mouse_status_tra,mouse_off_pic_tra,mouse_off_pic_sim,
        mouse_off_pic_eng,mouse_in_pic_tra,mouse_in_pic_sim,
        mouse_in_pic_eng,mouse_out_pic_tra,mouse_out_pic_sim,
        mouse_out_pic_eng,close_pic_tra,close_pic_sim,
        close_pic_eng,float_position_tra,float_position_sim,
        float_position_eng,junction_tra,junction_sim,
        junction_eng,display_page_tra,display_page_sim,
        display_page_eng,doc_id,create_user,
        create_time,update_user,update_time,
        ddgd_id,auditing_status,effect_time,
        mouse_status_sim,mouse_status_eng,close_pic_status_tra,
        close_pic_status_sim,close_pic_status_eng
    </sql>
</mapper>
