<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldnet.duty.mapper.WiDocKindMapper">

    <resultMap id="BaseResultMap" type="com.goldnet.duty.entity.WiDocKind">
            <id property="kind_id" column="kind_id" jdbcType="OTHER"/>
            <result property="kind_name" column="kind_name" jdbcType="VARCHAR"/>
            <result property="create_user" column="create_user" jdbcType="VARCHAR"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_user" column="update_user" jdbcType="VARCHAR"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="ddgd_id" column="ddgd_id" jdbcType="OTHER"/>
    </resultMap>

    <sql id="Base_Column_List">
        kind_id,kind_name,create_user,
        create_time,update_user,update_time,
        ddgd_id
    </sql>
</mapper>
