<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldnet.duty.mapper.WiEditGameAdMapper">

    <resultMap id="BaseResultMap" type="com.goldnet.duty.entity.WiEditGameAd">
            <id property="ad_id" column="ad_id" jdbcType="OTHER"/>
            <result property="ddgd_id" column="ddgd_id" jdbcType="OTHER"/>
            <result property="create_user" column="create_user" jdbcType="VARCHAR"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_user" column="update_user" jdbcType="VARCHAR"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="old_sort" column="old_sort" jdbcType="OTHER"/>
            <result property="now_sort" column="now_sort" jdbcType="OTHER"/>
            <result property="title_tra" column="title_tra" jdbcType="VARCHAR"/>
            <result property="title_sim" column="title_sim" jdbcType="VARCHAR"/>
            <result property="title_eng" column="title_eng" jdbcType="VARCHAR"/>
            <result property="mouse_status_tra" column="mouse_status_tra" jdbcType="VARCHAR"/>
            <result property="mouse_status_sim" column="mouse_status_sim" jdbcType="VARCHAR"/>
            <result property="mouse_status_eng" column="mouse_status_eng" jdbcType="VARCHAR"/>
            <result property="mouse_off_pic_tra" column="mouse_off_pic_tra" jdbcType="VARCHAR"/>
            <result property="mouse_off_pic_sim" column="mouse_off_pic_sim" jdbcType="VARCHAR"/>
            <result property="mouse_off_pic_eng" column="mouse_off_pic_eng" jdbcType="VARCHAR"/>
            <result property="mouse_in_pic_tra" column="mouse_in_pic_tra" jdbcType="VARCHAR"/>
            <result property="mouse_in_pic_sim" column="mouse_in_pic_sim" jdbcType="VARCHAR"/>
            <result property="mouse_in_pic_eng" column="mouse_in_pic_eng" jdbcType="VARCHAR"/>
            <result property="mouse_out_pic_tra" column="mouse_out_pic_tra" jdbcType="VARCHAR"/>
            <result property="mouse_out_pic_sim" column="mouse_out_pic_sim" jdbcType="VARCHAR"/>
            <result property="mouse_out_pic_eng" column="mouse_out_pic_eng" jdbcType="VARCHAR"/>
            <result property="junction_tra" column="junction_tra" jdbcType="VARCHAR"/>
            <result property="junction_sim" column="junction_sim" jdbcType="VARCHAR"/>
            <result property="junction_eng" column="junction_eng" jdbcType="VARCHAR"/>
            <result property="doc_id" column="doc_id" jdbcType="OTHER"/>
    </resultMap>

    <sql id="Base_Column_List">
        ad_id,ddgd_id,create_user,
        create_time,update_user,update_time,
        old_sort,now_sort,title_tra,
        title_sim,title_eng,mouse_status_tra,
        mouse_status_sim,mouse_status_eng,mouse_off_pic_tra,
        mouse_off_pic_sim,mouse_off_pic_eng,mouse_in_pic_tra,
        mouse_in_pic_sim,mouse_in_pic_eng,mouse_out_pic_tra,
        mouse_out_pic_sim,mouse_out_pic_eng,junction_tra,
        junction_sim,junction_eng,doc_id
    </sql>
</mapper>
