<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldnet.duty.mapper.WiEffectMapper">

    <resultMap id="BaseResultMap" type="com.goldnet.duty.entity.WiEffect">
            <id property="effect_id" column="effect_id" jdbcType="OTHER"/>
            <result property="type_id" column="type_id" jdbcType="OTHER"/>
            <result property="effect_name" column="effect_name" jdbcType="VARCHAR"/>
            <result property="create_user" column="create_user" jdbcType="VARCHAR"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_user" column="update_user" jdbcType="VARCHAR"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        effect_id,type_id,effect_name,
        create_user,create_time,update_user,
        update_time
    </sql>
</mapper>
