<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldnet.duty.mapper.WiLogoMapper">

    <resultMap id="BaseResultMap" type="com.goldnet.duty.entity.WiLogo">
            <id property="logo_id" column="logo_id" jdbcType="OTHER"/>
            <result property="logo_code" column="logo_code" jdbcType="VARCHAR"/>
            <result property="logo_name" column="logo_name" jdbcType="VARCHAR"/>
            <result property="logo_status" column="logo_status" jdbcType="OTHER"/>
            <result property="logo_begintime" column="logo_begintime" jdbcType="TIMESTAMP"/>
            <result property="logo_endtime" column="logo_endtime" jdbcType="TIMESTAMP"/>
            <result property="logo_pic" column="logo_pic" jdbcType="VARCHAR"/>
            <result property="create_user" column="create_user" jdbcType="VARCHAR"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_user" column="update_user" jdbcType="VARCHAR"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="ddgd_id" column="ddgd_id" jdbcType="OTHER"/>
            <result property="kind_id" column="kind_id" jdbcType="OTHER"/>
            <result property="doc_type" column="doc_type" jdbcType="OTHER"/>
            <result property="auditing_status" column="auditing_status" jdbcType="OTHER"/>
            <result property="effect_time" column="effect_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        logo_id,logo_code,logo_name,
        logo_status,logo_begintime,logo_endtime,
        logo_pic,create_user,create_time,
        update_user,update_time,ddgd_id,
        kind_id,doc_type,auditing_status,
        effect_time
    </sql>
</mapper>
