<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldnet.duty.mapper.WiOnlineServiceMapper">

    <resultMap id="BaseResultMap" type="com.goldnet.duty.entity.WiOnlineService">
            <id property="service_id" column="service_id" jdbcType="OTHER"/>
            <result property="service_status" column="service_status" jdbcType="OTHER"/>
            <result property="is_local" column="is_local" jdbcType="OTHER"/>
            <result property="is_window" column="is_window" jdbcType="OTHER"/>
            <result property="window_height" column="window_height" jdbcType="OTHER"/>
            <result property="window_width" column="window_width" jdbcType="OTHER"/>
            <result property="create_user" column="create_user" jdbcType="VARCHAR"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_user" column="update_user" jdbcType="VARCHAR"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="ddgd_id" column="ddgd_id" jdbcType="OTHER"/>
            <result property="kind_id" column="kind_id" jdbcType="OTHER"/>
            <result property="doc_type" column="doc_type" jdbcType="OTHER"/>
            <result property="auditing_status" column="auditing_status" jdbcType="OTHER"/>
            <result property="effect_time" column="effect_time" jdbcType="TIMESTAMP"/>
            <result property="url_tra" column="url_tra" jdbcType="VARCHAR"/>
            <result property="url_sim" column="url_sim" jdbcType="VARCHAR"/>
            <result property="url_eng" column="url_eng" jdbcType="VARCHAR"/>
            <result property="doc_name" column="doc_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        service_id,service_status,is_local,
        is_window,window_height,window_width,
        create_user,create_time,update_user,
        update_time,ddgd_id,kind_id,
        doc_type,auditing_status,effect_time,
        url_tra,url_sim,url_eng,
        doc_name
    </sql>
</mapper>
