<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldnet.duty.mapper.WiPhotoGroupMapper">

    <resultMap id="BaseResultMap" type="com.goldnet.duty.entity.WiPhotoGroup">
            <id property="id" column="id" jdbcType="OTHER"/>
            <result property="group_name" column="group_name" jdbcType="VARCHAR"/>
            <result property="account1" column="account1" jdbcType="OTHER"/>
            <result property="station_id" column="station_id" jdbcType="OTHER"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,group_name,account1,
        station_id,create_time
    </sql>
</mapper>
