<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldnet.duty.mapper.ZZombinMapper">

    <resultMap id="BaseResultMap" type="com.goldnet.duty.entity.ZZombin">
            <result property="id" column="id" jdbcType="OTHER"/>
            <result property="oldid" column="oldid" jdbcType="OTHER"/>
            <result property="oldaccount" column="oldaccount" jdbcType="VARCHAR"/>
            <result property="newid" column="newid" jdbcType="OTHER"/>
            <result property="newaccount" column="newaccount" jdbcType="VARCHAR"/>
            <result property="date" column="date" jdbcType="TIMESTAMP"/>
            <result property="is_notify" column="is_notify" jdbcType="OTHER"/>
            <result property="tpe_table_name" column="tpe_table_name" jdbcType="VARCHAR"/>
            <result property="tg_op_type" column="tg_op_type" jdbcType="VARCHAR"/>
            <result property="operate_record" column="operate_record" jdbcType="VARCHAR"/>
            <result property="create_date" column="create_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,oldid,oldaccount,
        newid,newaccount,date,
        is_notify,tpe_table_name,tg_op_type,
        operate_record,create_date
    </sql>
</mapper>
